$color-primaire:#9356DC;
$color-secondaire:#FF79DA;
$color-tertiaire:#99E2D0;
$color-footer:rgb(48, 46, 46);
$color-nouveau: rgb(54, 133, 106);
$color-recherche: rgba(173, 173, 173, 0.212);
$color-brecherche: darken($color-recherche,10%);
$color-shadow: #e2e1e1;
$color-back: #f2f2f2;