header{
    display: flex;
    align-items: center;
    padding: 20px;
    a{  /* ------ centrer logo ---------*/
        position: absolute;
        font-size: 20px;
        z-index: 1;
    }
     #logo{
        position: relative;
        left: 0px;
        text-align: center;
        width: 100%;
        img{
            height: 30px;
        }
    }
}